[Unit]
Description=Run weather sensors server to serve weather data over internet
After=syslog.target
After=network.target

[Service]
RestartSec=60s
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Programs/rpi-bme280-server
ExecStart=/home/pi/Programs/rpi-bme280-server/rpi-bme280-server
Restart=always

[Install]
WantedBy=multi-user.target
